* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $brand-font;
  font-size: 16px;
  line-height: 1.5;
  color: $section-color;
  background-color: $bright-color;
}

.container {
  width: 100%;
  max-width: 2170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

// General Statistic

.grid-main {
  @include grid-main;
}

.center {
  justify-self: center;
  margin: 20px 0;
}

.lower {
  margin: 5% 2% 2% 16%;
  background-color: #ffffff;
  padding: 10px 0 0 0;
  box-shadow: 0 0 8px 1px $bright-grey;
}

// responsive

@media (max-width: 767px) {
  .scroll-wrapper {
    // background-color: hotpink;
    display: block;
    width: 80%;
    overflow-x: auto;
    margin: 0 auto;
  }

  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
  }

  .scroll-wrapper img {
    width: auto;
    max-width: 100%;
  }

  table .stretch {
    padding-right: 50px;
  }

  nav .sidenav {
    max-width: 90px;
    max-height: 90px;
    background-color: transparent;
    padding: 10px;
  }

  .menu {
    visibility: hidden;
  }

  nav .sidenav .menu {
    top: 68px;
    width: 200px;
  }

  .logo {
    display: none;
  }

  .show {
    visibility: visible;
  }

  header .grid-header {
    grid-template-columns: 17% 33% 10% 30% 10%;
  }

  header .header_wrapper {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 2;
    bottom: 0;
  }

  .lower {
    margin: 15% 2% 2% 5%;
    background-color: #ffffff;
    padding: 10px 0 0 0;
    box-shadow: 0 0 8px 1px $bright-grey;
  }

  .bottom {
    margin-bottom: 80px;
  }

  nav .sidenav .menu-button {
    border-top: 2px solid $paragraph-color;
    top: 0;
  }

  nav .sidenav .menu-button {
    &:before,
    &:after {
      border-top: 2px solid $paragraph-color;
    }
  }

  #myChart {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  nav .sidenav {
    max-width: 90px;
    max-height: 90px;
    background-color: transparent;
    padding: 10px;
  }

  .menu {
    visibility: hidden;
  }

  nav .sidenav .menu {
    top: 68px;
    width: 200px;
  }

  .logo {
    display: none;
  }

  .show {
    visibility: visible;
  }

  header .grid-header {
    grid-template-columns: 39% 25% 7% 23% 7%;
  }

  .lower {
    margin: 10% 2% 2% 2%;
    background-color: #ffffff;
    padding: 10px 0 0 0;
    box-shadow: 0 0 8px 1px $bright-grey;
  }

  table .stretch {
    padding-right: 50px;
  }

  nav .sidenav .menu-button {
    border-top: 2px solid $paragraph-color;
    top: 0;
  }

  nav .sidenav .menu-button {
    &:before,
    &:after {
      border-top: 2px solid $paragraph-color;
    }
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  nav .sidenav {
    max-width: 90px;
    max-height: 90px;
    background-color: transparent;
    padding: 10px;
  }

  .menu {
    visibility: hidden;
  }

  nav .sidenav .menu {
    top: 68px;
    width: 200px;
  }

  .logo {
    display: none;
  }

  .show {
    visibility: visible;
  }

  header .grid-header {
    grid-template-columns: 45% 22% 6% 20% 6%;
  }

  .lower {
    margin: 8% 2% 2% 2%;
    padding: 10px 0 0 0;
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  header .grid-header {
    grid-template-columns: 55% 18% 6% 16% 6%;
  }

  .lower {
    margin: 8% 2% 2% 20%;
    padding: 10px 0 0 0;
  }
}
