@mixin button {
  padding: 8px 8px;
  color: #ffffff;
}

@mixin dotted {
  content: "";
  position: absolute;
  border-radius: 100%;
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

// $list: (
//   ('first', 1, 10px),
//   ('second', 2, null),
//   ('third', 3, null),
//   ('fourth', 4, 27%),
//   ('fifth', 5, null)
// );

// @mixin grid-main {
//   display: grid;
//   grid-template-columns: 100%;
//   grid-template-rows: auto;

//   @for $i from 1 through length($list) {
//     $item: nth($list, $i);

//     &__#{nth($item, 1)} {
//       grid-row-start: #{nth($item, 2)};
//       grid-row-end: #{nth($item, 2)};
//       margin-left: #{nth($item, 3)}
//     }
//   }
// }

@mixin grid-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  &_first {
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 1px solid $bright-grey;
  }

  &_second {
    grid-row-start: 2;
    grid-row-end: 2;
  }

  &_third {
    grid-row-start: 3;
    grid-row-end: 3;
  }

  &_fourth {
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 27%;
  }

  &_fifth {
    grid-row-start: 5;
    grid-row-end: 5;
  }
}
