/* Colors */
$section-color: #979797;
$color-hover: #bababa;
$bright-grey: #E3E3E3;
$paragraph-color: #333333;
$brand-main-color: #f58220;
$link-color: #6598ca;
$link-color-hover: #FFA200;
$bright-color: #F5F5F2;
$dark-color: #000000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$font-family: 'Mansalva', cursive;