.button {
  @include button-orange;
  color: #FFFFFF;
  padding: 10px 10px;
}

.button:hover {
  @include button-orange-hover;
}

.robocza {
  // position: absolute;
  width: 50px;
  height: 50px;
}

//  Hamburger

.menu-button {
  left: 40%;
  top: 30%;
  width: 35px;
  height: 35px;
  border: 0;
  border-top: 3px solid $section-color;
  background: transparent;
  position: relative;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid $section-color;
  transform: translateY(10px);
}

.menu-button::after {
  transform: translateY(25px);
}

.menu-button:hover {
  border-top: 3px solid $color-hover;
}