.icon {
  width: 30px;
  height: 30px;
  filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(92%)
    contrast(88%);
}

.small-icon {
  width: 25px;
  height: 25px;
  filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(92%)
    contrast(88%);
}

.small-icon_margin {
  margin-right: 15px;
}

.small-icon:hover,
.icon:hover {
  filter: invert(88%) sepia(0%) saturate(77%) hue-rotate(257deg) brightness(86%)
    contrast(87%);
}

.icon-brighter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.link-icon {
  visibility: hidden;
}

.highlight:hover {
  background-color: $bright-color;

  .link-icon {
    visibility: visible;
  }

  .link-color {
    filter: invert(70%) sepia(37%) saturate(4437%) hue-rotate(0deg)
      brightness(103%) contrast(103%);
  }
}

.dotted-main-color:after {
  @include dotted;
  background: $brand-main-color;
  top: 11px;
  right: 27px;
  width: 12px;
  height: 12px;
}

.dotted-active:after {
  @include dotted;
  background: green;
  top: 85px;
  left: 62px;
  width: 16px;
  height: 16px;
}

.photo {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin: 15px 20px 0 20px;
}
