.page-header {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.section-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-left: 30px;
}

.text {
  font-weight: bold;
  font-size: 16px;
}

.text-dark {
  font-weight: bolder;
  color: $paragraph-color;
  opacity: 0.8;
  font-size: 16px;
}

.text-light {
  color: #FFFFFF;
}

.logo {
  font-family: $font-family;
  font-size: 35px;
  padding: 0 10px;
  color: $bright-color;
}

.link-large {
  color: $link-color;
  text-decoration: none;
  font-size: 16px;
}

.link-large:hover {
  color: $link-color-hover;
}

.link-small {
  color: $link-color;
  font-size: 14px;
  text-decoration: none;
}

.link-small:hover {
  color: $link-color-hover;
}

